In [186]:
import pandas as pd
import re

In [2]:
jkt48_frame = pd.read_excel('jkt48_member_fix_1.xlsx')

In [3]:
jkt48_frame

,Nama,Generasi,Kelahiran,Kelahiran (Usia),Kelas,Mulai dan Lama Bergabung (di JKT48),Mulai dan Lama Bergabung (di JKT48) dan Masuk ke Kelas B,Mulai dan Lama Bergabung (di Tim J),Mulai dan Lama Bergabung (di Tim KIII),Mulai dan Lama Bergabung (di Tim T),...,Panggilan,Perkenalan,Status Terakhir,Tanggal Keluar,Tanggal Lulus,Tanggal Lulus/ Mundur/Keluar,Tanggal Lulus/Mundur,Tanggal Mundur,Tanggal Mundur/Keluar,Usia
0,Adriani Elisabeth,Keempat,NaN,"Jakarta, Indonesia, 10 Mei 2000 (20 tahun)",NaN,"16 Mei 2015 (5 tahun, 172 hari)",NaN,"1 Januari 2020 (0 tahun, 308 hari)",NaN,NaN,...,"Lisa, Lisayang",Aku si vitamin C yang akan memberikan vitamin ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Amanina Afiqah Ibrahim,Kedelapan,NaN,"Jakarta, Indonesia, 6 Januari 2006 (14 tahun)",NaN,"27 April 2019 (1 tahun, 191 hari)",NaN,"22 Agustus 2020 (0 tahun, 74 hari)",NaN,NaN,...,Afiqah,Si gadis yang penuh energi dan akan menginspir...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aninditha Rahma Cahyadi,Ketiga,NaN,"Palembang, Sumatra Selatan, Indonesia, 5 Janua...",NaN,"15 Maret 2014 (6 tahun, 234 hari)",NaN,"1 Januari 2020 (0 tahun, 308 hari)",NaN,NaN,...,Anin,Bagaikan angin yang akan selalu menghembuskan ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ariella Calista Ichwan,Keenam,NaN,"Jakarta, Indonesia, 12 Mei 2000 (20 tahun)",NaN,"8 April 2018 (2 tahun, 210 hari)",NaN,"1 Oktober 2018 (2 tahun, 34 hari)",NaN,NaN,...,"Ariel, Eril",Jangan main-main dengan pesona sanguinku! Halo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Azizi Shafaa Asadel,Ketujuh,NaN,"Kota Tangerang, Banten, Indonesia, 16 Mei 2004...",NaN,"29 September 2018 (2 tahun, 36 hari)",NaN,"7 Oktober 2019 (1 tahun, 28 hari)",NaN,NaN,...,"Zee, Zizi",Si gadis tomboi yang semangatnya meletup-letup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Puti Nadhira Azalia,Kelima,"Jakarta, Indonesia, 7 Juni 2000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Puti, Pucchi","Si jahil yang penuh niat, namaku Pucchi! ""Pu-pu""",Tim KIII,NaN,NaN,"Lulus, 18 Mei 2020[7][8]",NaN,NaN,NaN,20 tahun
198,Aiko Harumi Nangin,Ketujuh,"Kota Bekasi, Jawa Barat, Indonesia, 23 Maret 2002",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Aiko,"Seperti panda: banyak makan, banyak tidur, tap...",Akademi Kelas A,NaN,NaN,"Keluar, 29 Juli 2020[9]",NaN,NaN,NaN,18 tahun
199,Salma Annisa,Kedelapan,"Jakarta, Indonesia, 16 Agustus 2000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Alma,Si melankolis yang berusaha menyentuhmu dengan...,Akademi Kelas A,NaN,NaN,"Mundur, 1 September 2020[10]",NaN,NaN,NaN,20 tahun
200,Shalza Grasita,Keenam,"Jakarta, Indonesia, 7 Oktober 2004",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Shalza,Satu satu aku sayang (Shalza!) Ingin menjadi s...,Akademi Kelas A,NaN,NaN,"Dipecat, 22 September 2020[11]",NaN,NaN,NaN,16 tahun
201,Melati Putri Rahel Sesilia,Keempat,"Jakarta, Indonesia, 1 Januari 2000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Melati, Meme",Di gen 4 ada bunga lho? (siapa???) Aku Melati ...,Tim J,NaN,NaN,"Lulus, 24 Oktober 2020[12]",NaN,NaN,NaN,20 tahun

In [4]:
jkt48_frame['Kelahiran'] = jkt48_frame['Kelahiran (Usia)'].fillna(jkt48_frame['Kelahiran'])

In [7]:
jkt48_frame.tail()

,Nama,Generasi,Kelahiran,Kelahiran (Usia),Kelas,Mulai dan Lama Bergabung (di JKT48),Mulai dan Lama Bergabung (di JKT48) dan Masuk ke Kelas B,Mulai dan Lama Bergabung (di Tim J),Mulai dan Lama Bergabung (di Tim KIII),Mulai dan Lama Bergabung (di Tim T),...,Panggilan,Perkenalan,Status Terakhir,Tanggal Keluar,Tanggal Lulus,Tanggal Lulus/ Mundur/Keluar,Tanggal Lulus/Mundur,Tanggal Mundur,Tanggal Mundur/Keluar,Usia
197,Puti Nadhira Azalia,Kelima,"Jakarta, Indonesia, 7 Juni 2000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Puti, Pucchi","Si jahil yang penuh niat, namaku Pucchi! ""Pu-pu""",Tim KIII,NaN,NaN,"Lulus, 18 Mei 2020[7][8]",NaN,NaN,NaN,20 tahun
198,Aiko Harumi Nangin,Ketujuh,"Kota Bekasi, Jawa Barat, Indonesia, 23 Maret 2002",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Aiko,"Seperti panda: banyak makan, banyak tidur, tap...",Akademi Kelas A,NaN,NaN,"Keluar, 29 Juli 2020[9]",NaN,NaN,NaN,18 tahun
199,Salma Annisa,Kedelapan,"Jakarta, Indonesia, 16 Agustus 2000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Alma,Si melankolis yang berusaha menyentuhmu dengan...,Akademi Kelas A,NaN,NaN,"Mundur, 1 September 2020[10]",NaN,NaN,NaN,20 tahun
200,Shalza Grasita,Keenam,"Jakarta, Indonesia, 7 Oktober 2004",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Shalza,Satu satu aku sayang (Shalza!) Ingin menjadi s...,Akademi Kelas A,NaN,NaN,"Dipecat, 22 September 2020[11]",NaN,NaN,NaN,16 tahun
201,Melati Putri Rahel Sesilia,Keempat,"Jakarta, Indonesia, 1 Januari 2000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Melati, Meme",Di gen 4 ada bunga lho? (siapa???) Aku Melati ...,Tim J,NaN,NaN,"Lulus, 24 Oktober 2020[12]",NaN,NaN,NaN,20 tahun

In [15]:
jkt48_frame.isnull().sum()

Nama                                                          0
Generasi                                                      0
Kelahiran                                                    11
Kelahiran (Usia)                                            133
Kelas                                                       176
Mulai dan Lama Bergabung (di JKT48)                         148
Mulai dan Lama Bergabung (di JKT48) dan Masuk ke Kelas B    176
Mulai dan Lama Bergabung (di Tim J)                         183
Mulai dan Lama Bergabung (di Tim KIII)                      184
Mulai dan Lama Bergabung (di Tim T)                         185
Naik ke Kelas A                                             176
Nama Fansclub                                                 9
Panggilan                                                     0
Perkenalan                                                   11
Status Terakhir                                              80
Tanggal Keluar                                              201
Tanggal Lulus                                               135
Tanggal Lulus/ Mundur/Keluar                                159
Tanggal Lulus/Mundur                                        199
Tanggal Mundur                                              196
Tanggal Mundur/Keluar                                       200
Usia                                                         80
dtype: int64

In [16]:
## DATA CLEANING
# pisahkan kelahiran hanya menjadi kota saja

In [31]:
jkt48_frame.loc[jkt48_frame['Generasi'] == 'Kedua'] #ingat figur loc

,Nama,Generasi,Kelahiran,Kelahiran (Usia),Kelas,Mulai dan Lama Bergabung (di JKT48),Mulai dan Lama Bergabung (di JKT48) dan Masuk ke Kelas B,Mulai dan Lama Bergabung (di Tim J),Mulai dan Lama Bergabung (di Tim KIII),Mulai dan Lama Bergabung (di Tim T),...,Panggilan,Perkenalan,Status Terakhir,Tanggal Keluar,Tanggal Lulus,Tanggal Lulus/ Mundur/Keluar,Tanggal Lulus/Mundur,Tanggal Mundur,Tanggal Mundur/Keluar,Usia
14,Nadila Cindi Wantari,Kedua,"Kota Bogor, Jawa Barat, Indonesia, 23 Septembe...","Kota Bogor, Jawa Barat, Indonesia, 23 Septembe...",NaN,"3 November 2012 (8 tahun, 1 hari)",NaN,"21 Juli 2019 (1 tahun, 106 hari)",NaN,NaN,...,"Nadila, Paw Paw",Si gitaris kidal kesayangan kamu. Huft! Aku Na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Rona Anggreani,Kedua,"Kota Pasuruan, Jawa Timur, Indonesia, 19 Maret...","Kota Pasuruan, Jawa Timur, Indonesia, 19 Maret...",NaN,"3 November 2012 (8 tahun, 1 hari)",NaN,"21 Juli 2019 (1 tahun, 106 hari)",NaN,NaN,...,"Rona, Ayen","Heeeeeeeii yang di sana, goyang yuk! Lady rock...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Althea Callista,Kedua,"Jakarta, Indonesia, 11 Juli 1997",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Althea,Tidak ada,Siswi Pelatihan,NaN,10 Januari 2013,NaN,NaN,NaN,NaN,23 tahun
87,Nurhalima Oktavianti,Kedua,"Indonesia, 18 Oktober 1996",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HalimahImoy,Tidak ada,Siswi Pelatihan,NaN,10 Januari 2013,NaN,NaN,NaN,NaN,24 tahun
89,Olivia Robberecht,Kedua,"Belanda, 21 Mei 1997",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,OliviaOlive,"Satu cinta, satu mimpi, satu member JKT48 yang...",Siswi Pelatihan,NaN,12 April 2013,NaN,NaN,NaN,NaN,23 tahun
90,Annisa Athia,Kedua,"Indonesia, 8 Oktober 1997",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NisaNi-chan,"Cosplay dan ramen, itu favoritku. Keahlianku m...",Siswi Pelatihan,NaN,9 September 2013,NaN,NaN,NaN,NaN,23 tahun
91,Intar Putri Kariina,Kedua,"Bandung, Jawa Barat Indonesia, 23 Oktober 1997",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Kariin,Pika~ (Pika~) Pika~ (Pika~). Pika pika pika~ (...,Tim KIII,NaN,9 September 2013,NaN,NaN,NaN,NaN,23 tahun
92,Nadhifa Karimah,Kedua,"Indonesia, 24 November 1995",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NadhifaDhifa,Seperti permata yang selalu berkilau. Aku Nadh...,Siswi Pelatihan,NaN,30 November 2013,NaN,NaN,NaN,NaN,24 tahun
93,Dellia Erdita,Kedua,"Banten, Indonesia, 19 Desember 1996",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DelliaDelli,Nyanyianku akan meniupkan nada berwarna pink d...,Siswi Pelatihan,NaN,30 November 2013,NaN,NaN,NaN,NaN,23 tahun
97,Octi Sevpin,Kedua,"Jakarta, Indonesia, 7 Oktober 1997",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Octi,"Aku suka boneka monyet, dan kata orang tawaku ...",Tim KIII,NaN,23 Januari 2014,NaN,NaN,NaN,NaN,23 tahun
107,Noella Sisterina,Kedua,"Surabaya, Jawa Timur, Indonesia, 16 November 1997",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Noella,"Sekali melihatku tersenyum, pasti nggak bakal ...",Tim KIII,NaN,27 Februari 2015,NaN,NaN,NaN,NaN,22 tahun
110,Novinta Dhini,Kedua,"Denpasar, Bali, Indonesia, 26 November 1995",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NovintaNobi,"From Bali with love, selalu percaya diri dan o...",Tim KIII,NaN,17 Agustus 2015,NaN,NaN,NaN,NaN,24 tahun
111,Thalia,Kedua,"Jakarta, Indonesia 22 Desember 1996",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Tata,Seperti kupu-kupu yang berjalan di atas catwal...,Tim KIII,NaN,26 Agustus 2015,NaN,NaN,NaN,NaN,23 tahun
130,Jennifer Hanna,Kedua,"Banjarmasin, Kalimantan Selatan, Indonesia, 26...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Hanna,"Bagaikan kapas putih yang penuh cinta. Halo, a...",Tim KIII,NaN,27 September 2016,NaN,NaN,NaN,NaN,22 tahun
145,Fakhriyani Shafariyanti,Kedua,"Depok, Jawa Barat, Indonesia, 14 Juli 1995",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Shafa,Tarianku akan membuat kalian tersenyum dan ber...,Tim KIII,NaN,25 Maret 2018[3],NaN,NaN,NaN,NaN,25 tahun
147,Dena Siti Rohyati,Kedua,"Depok, Jawa Barat, Indonesia, 15 Maret 1997",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Dena,Seperti pelangi yang indah dan cantik. Aku Dena.,Siswi Pelatihan,NaN,NaN,NaN,NaN,5 April 2018[5],NaN,23 tahun
155,Priscillia Sari Dewi,Kedua,"Palembang, Sumatra Selatan, Indonesia, 5 April...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sisil,"Penyuka hamster yang mandinya lama, namaku Sisil.",Akademi Kelas A,NaN,NaN,NaN,NaN,NaN,"Mundur, 31 Juli 2018[14]",21 tahun
157,Dwi Putri Bonita,Kedua,"Palembang, Sumatra Selatan, Indonesia, 17 Nove...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Uty,Seperti kelinci yang selalu melompat dan tidak...,Tim J,NaN,30 September 2018[16],NaN,NaN,NaN,NaN,22 tahun
160,Lidya Maulida Djuhandar,Kedua,"Jakarta, Indonesia, 17 Agustus 1996",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Lidya,Seperti kembang api yang unik dan menarik perh...,Tim KIII,NaN,NaN,"Lulus, 27 Oktober 2018[20]",NaN,NaN,NaN,24 tahun
164,Riskha Fairunissa,Kedua,"Jakarta, Indonesia, 22 Maret 1996",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ikha,Si pecinta kucing yang kalau ketawa matanya si...,Tim J,NaN,NaN,"Lulus, 29 Desember 2018[23]",NaN,NaN,NaN,24 tahun
165,Shinta Naomi,Kedua,"Jakarta, Indonesia, 4 Juni 1994",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaomiOmi,"Walaupun kelihatannya judes, tetapi sebenarnya...",Tim KIII,NaN,NaN,"Lulus, 29 Desember 2018[23]",NaN,NaN,NaN,26 tahun
169,Della Delila,Kedua,"Jakarta, Indonesia, 15 November 1998",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Della,"Dengan sejuta senyumku yang manis ini, aku aka...",Tim J,NaN,NaN,"Lulus, 31 Maret 2019[3]",NaN,NaN,NaN,21 tahun
170,Saktia Oktapyani,Kedua,"Jakarta, Indonesia, 1 Oktober 1995",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SaktiaVia,Aku bagaikan kunang-kunang yang selalu menyina...,Tim J,NaN,NaN,"Lulus, 31 Maret 2019[3]",NaN,NaN,NaN,25 tahun
174,Natalia,Kedua,"Jakarta, Indonesia, 28 Desember 1996",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Natalia, Nat",Seperti air mengalir bagaikan cintaku padamu. ...,Tim KIII,NaN,NaN,"Lulus, 20 Juli 2019[7]",NaN,NaN,NaN,23 tahun
175,Cindy Yuvia,Kedua,"Jakarta, Indonesia, 14 Januari 1998",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Cindvia, Yupi",Aku si mungil yang limited edition dan selalu ...,Tim J,NaN,NaN,"Lulus, 27 Juli 2019[8]",NaN,NaN,NaN,22 tahun
176,Alicia Chanzia,Kedua,"Bandung, Jawa Barat, Indonesia, 24 Mei 1999",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Acha,"Dengan mataku yang cantik ini, aku akan menghi...",Tim KIII,NaN,NaN,"Lulus, 4 Agustus 2019[9]",NaN,NaN,NaN,21 tahun
179,Sinka Juliani,Kedua,"Jakarta, Indonesia, 4 Juli 1996",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Sinka, Dudut","Walaupun aku pendiam, aku akan selalu mewarnai...",Tim J,NaN,NaN,"Lulus, 5 Oktober 2019[13]",NaN,NaN,NaN,24 tahun
182,Thalia Ivanka Elizabeth,Kedua,"Jakarta, Indonesia, 29 Juni 1999",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Vanka, Thacil","Walaupun mukaku terlihat sedih, tetapi aku sel...",Tim T,NaN,NaN,"Lulus, 6 Desember 2019[15]",NaN,NaN,NaN,21 tahun
186,Viviyona Apriani,Kedua,"Jakarta, Indonesia, 13 April 1994",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Yona,"Si pemimpi yang pantang menyerah. Hai, aku Yona.",Tim KIII,NaN,NaN,"Lulus, 21 Desember 2019",NaN,NaN,NaN,26 tahun
189,Jennifer Rachel Natasya,Kedua,"Jakarta, Indonesia, 10 April 1999",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rachel,Halo! Seperti bintang yang bersinar menerangi ...,Tim KIII,NaN,NaN,"Lulus, 5 Januari 2020[1]",NaN,NaN,NaN,21 tahun
194,Ratu Vienny Fitrilya,Kedua,"Pandeglang, Jawa Barat, Indonesia, 23 Februari...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Viny,Aku si gadis artistik yang sedang berjuang mer...,Tim KIII,NaN,NaN,"Lulus, 23 Februari 2020[4]",NaN,NaN,NaN,24 tahun

In [32]:
jkt48_frame['Kelahiran_1'] = jkt48_frame['Kelahiran']

In [33]:
jkt48_frame.head()

,Nama,Generasi,Kelahiran,Kelahiran (Usia),Kelas,Mulai dan Lama Bergabung (di JKT48),Mulai dan Lama Bergabung (di JKT48) dan Masuk ke Kelas B,Mulai dan Lama Bergabung (di Tim J),Mulai dan Lama Bergabung (di Tim KIII),Mulai dan Lama Bergabung (di Tim T),...,Perkenalan,Status Terakhir,Tanggal Keluar,Tanggal Lulus,Tanggal Lulus/ Mundur/Keluar,Tanggal Lulus/Mundur,Tanggal Mundur,Tanggal Mundur/Keluar,Usia,Kelahiran_1
0,Adriani Elisabeth,Keempat,"Jakarta, Indonesia, 10 Mei 2000 (20 tahun)","Jakarta, Indonesia, 10 Mei 2000 (20 tahun)",NaN,"16 Mei 2015 (5 tahun, 172 hari)",NaN,"1 Januari 2020 (0 tahun, 308 hari)",NaN,NaN,...,Aku si vitamin C yang akan memberikan vitamin ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jakarta, Indonesia, 10 Mei 2000 (20 tahun)"
1,Amanina Afiqah Ibrahim,Kedelapan,"Jakarta, Indonesia, 6 Januari 2006 (14 tahun)","Jakarta, Indonesia, 6 Januari 2006 (14 tahun)",NaN,"27 April 2019 (1 tahun, 191 hari)",NaN,"22 Agustus 2020 (0 tahun, 74 hari)",NaN,NaN,...,Si gadis yang penuh energi dan akan menginspir...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jakarta, Indonesia, 6 Januari 2006 (14 tahun)"
2,Aninditha Rahma Cahyadi,Ketiga,"Palembang, Sumatra Selatan, Indonesia, 5 Janua...","Palembang, Sumatra Selatan, Indonesia, 5 Janua...",NaN,"15 Maret 2014 (6 tahun, 234 hari)",NaN,"1 Januari 2020 (0 tahun, 308 hari)",NaN,NaN,...,Bagaikan angin yang akan selalu menghembuskan ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Palembang, Sumatra Selatan, Indonesia, 5 Janua..."
3,Ariella Calista Ichwan,Keenam,"Jakarta, Indonesia, 12 Mei 2000 (20 tahun)","Jakarta, Indonesia, 12 Mei 2000 (20 tahun)",NaN,"8 April 2018 (2 tahun, 210 hari)",NaN,"1 Oktober 2018 (2 tahun, 34 hari)",NaN,NaN,...,Jangan main-main dengan pesona sanguinku! Halo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jakarta, Indonesia, 12 Mei 2000 (20 tahun)"
4,Azizi Shafaa Asadel,Ketujuh,"Kota Tangerang, Banten, Indonesia, 16 Mei 2004...","Kota Tangerang, Banten, Indonesia, 16 Mei 2004...",NaN,"29 September 2018 (2 tahun, 36 hari)",NaN,"7 Oktober 2019 (1 tahun, 28 hari)",NaN,NaN,...,Si gadis tomboi yang semangatnya meletup-letup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kota Tangerang, Banten, Indonesia, 16 Mei 2004..."

In [129]:
jkt48_frame['Kelahiran_1'] = jkt48_frame['Kelahiran']

In [130]:
jkt48_frame['Kelahiran_1'].dropna(inplace=True)

In [126]:
jkt48_frame['Kelahiran_1'].isna().sum()

0

In [165]:
# merapikan kolom tempat lahir
row = 0
for i in jkt48_frame['Kelahiran_1']:
    word = []
    for char in i:
        if char == ',':
            break
        else:
            word.append(char)
    s = ''.join(word)
    jkt48_frame['Kelahiran_1'][row] = s
    row += 1

In [169]:
jkt48_frame['Tanggal Lahir'] = jkt48_frame['Kelahiran']

In [174]:
jkt48_frame['Tanggal Lahir']

0             Jakarta, Indonesia, 10 Mei 2000 (20 tahun)
1          Jakarta, Indonesia, 6 Januari 2006 (14 tahun)
2      Palembang, Sumatra Selatan, Indonesia, 5 Janua...
3             Jakarta, Indonesia, 12 Mei 2000 (20 tahun)
4      Kota Tangerang, Banten, Indonesia, 16 Mei 2004...
                             ...
197                      Jakarta, Indonesia, 7 Juni 2000
198    Kota Bekasi, Jawa Barat, Indonesia, 23 Maret 2002
199                  Jakarta, Indonesia, 16 Agustus 2000
200                   Jakarta, Indonesia, 7 Oktober 2004
201                   Jakarta, Indonesia, 1 Januari 2000
Name: Tanggal Lahir, Length: 202, dtype: object

In [200]:
# merapikan kolom tanggal lahir
jkt48_frame['Tanggal Lahir'] = jkt48_frame['Kelahiran']
jkt48_frame['Tanggal Lahir'].dropna(inplace=True)
row = 0
for i in jkt48_frame['Tanggal Lahir']:
    jkt48_frame['Tanggal Lahir'] = re.sub("[0-9]",i)

TypeError: sub() missing 1 required positional argument: 'string'

In [196]:
jkt48_frame['Tanggal Lahir']

0      <re.Match object; span=(20, 21), match='1'>
1      <re.Match object; span=(20, 21), match='1'>
2      <re.Match object; span=(20, 21), match='1'>
3      <re.Match object; span=(20, 21), match='1'>
4      <re.Match object; span=(20, 21), match='1'>
                          ...
197    <re.Match object; span=(20, 21), match='1'>
198    <re.Match object; span=(20, 21), match='1'>
199    <re.Match object; span=(20, 21), match='1'>
200    <re.Match object; span=(20, 21), match='1'>
201    <re.Match object; span=(20, 21), match='1'>
Name: Tanggal Lahir, Length: 202, dtype: object